---
import {getCollection, render, type CollectionEntry} from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import {Image} from 'astro:assets';

export async function getStaticPaths() {
    const performances = await getCollection('performances');
    return performances.map((performance: CollectionEntry<'performances'>) => ({
        params: {slug: performance.id},
        props: {performance},
    }));
}

const {performance} = Astro.props;
const {Content} = await render(performance);

const performanceData = {
    name: performance.data.name,
    startDate: new Date(performance.data.startDate).toISOString(),
    endDate: performance.data.endDate ? new Date(performance.data.endDate).toISOString() : undefined,
    description: performance.data.excerpt,
    location: performance.data.venue,
    offers: performance.data.offers,
};

const breadcrumbs = [
    {name: '公演', item: '/performances/'},
    {name: performance.data.name, item: Astro.url.pathname}
];
---

<Layout
        title={performance.data.name + " - 公演"}
        description={performance.data.excerpt || ''}
        image={performance.data.flyer?.front?.src || performance.data.thumbnail?.src}
        type="article"
        schemaType="Event"
        schemaData={performanceData}
        breadcrumbs={breadcrumbs}
>
    <main>
        <article>
            <header class="container-md mt-5">
                <ol class="breadcrumb mb-2">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" href="/">ホーム</a></li>
                    <li class="breadcrumb-item"><a class="breadcrumb-link" href="/performances/">公演</a></li>
                    <li class="breadcrumb-item">{performance.data.name}</li>
                </ol>
                <h1 class="h1 mb-2">{performance.data.name}</h1>
                <time datetime={new Date(performance.data.startDate).toISOString().split('T')[0]} class="">
                    {new Date(performance.data.startDate).toLocaleDateString('ja-JP', {
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric'
                    })}
                    {performance.data.endDate && ` - ${new Date(performance.data.endDate).toLocaleDateString('ja-JP', {
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric'
                    })}`}
                </time>
                {(performance.data.playwright || performance.data.director) && (
                    <dl class="mt-2 d-flex flex-wrap">
                        {performance.data.playwright && (
                            <>
                                <dt class="mr-2">作:</dt>
                                <dd class="mr-4">{performance.data.playwright}</dd>
                            </>
                        )}
                        {performance.data.director && (
                            <>
                                <dt class="mr-2">演出:</dt>
                                <dd class="">{performance.data.director}</dd>
                            </>
                        )}
                    </dl>
                )}
            </header>
            <div class="container-lg custom-performances-area mt-4">
{(performance.data.flyer?.front || performance.data.thumbnail) && (
                    <div class="custom-performances-img">
                        <Image
                                src={performance.data.flyer?.front || performance.data.thumbnail!}
                                alt={performance.data.name}
                                class="img-fluid"
                        />
                    </div>
                )}
                <div class="content custom-performances-content">
                    <Content/>
                </div>
            </div>
            <footer class="d-flex justify-center container-md mt-5">
                <a href="/performances/" class="btn btn-outline">公演一覧に戻る</a>
            </footer>
        </article>
    </main>
</Layout>

<style lang="scss">
  .custom-performances-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 2.5rem;
    grid-template-areas:"img""content";
  }

  @media screen and (min-width: 768px) {
    .custom-performances-area {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 2.5rem;
      grid-template-areas: "content img";
    }
    .custom-performances-img {
      grid-area: img;
    }
    .custom-performances-content {
      grid-area: content;
    }
  }
</style>
