---
import {Image} from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import heroimg03 from '../assets/index/heroimg03.avif';
import heroimg09 from '../assets/index/heroimg09.avif';
import heroimg23 from '../assets/index/heroimg23.avif';
import heroimg16 from '../assets/index/heroimg16.avif';
import heroimg26 from '../assets/index/heroimg26.avif';
import heroimg31 from '../assets/index/heroimg31.avif';
---

<Layout>
    <main>
        <section class="mt-5 container-xl custom-hero-area">
            <div class="custom-hero_text vstack justify-center align-items-center">
                <h1 class="h1 text-center mb-4">殺陣!ダンス!コメディ!<br/>なんでもありのエンタメ劇団！</h1>
                {
                <h2 class="h5 mb-2">公演予定</h2>
                <p class="text-center">関西大学演劇サークル劇団万絵巻2026年度新入生歓迎公演<br/><a class="link" href="/performances/2026/itiaku/">一握の石</a></p>
                }
            </div>
            <Image class="custom-hero_img custom-img_1" src={heroimg23} alt=""/>
            <Image class="custom-hero_img custom-img_2" src={heroimg31} alt=""/>
            <Image class="custom-hero_img custom-img_3" src={heroimg16} alt=""/>
            <Image class="custom-hero_img custom-img_4" src={heroimg03} alt=""/>
            <Image class="custom-hero_img custom-img_5" src={heroimg26} alt=""/>
        </section>
        <section class="container-lg grid g-4 mt-7">
            <div class="col-12 col-md-6">
                <h2 class="h2 text-center">私たちについて</h2>
                <p class="mt-3">
                    劇団万絵巻は1994年に創立され、殺陣・ダンス・コメディといったエンターテインメントを中心に、幅広い作品づくりを行っている学生劇団です。年間約5本の公演を行い、これまでに数多くの舞台を上演してきました。私たちの使命は、物語から創作することを大切にし、作品に力強い命を吹き込み、観客の記憶に残る体験を提供することです。自由な発想と芸術性を重んじながら、日々活動しています。
                </p>
                <p class="mt-3">
                    演劇やものづくりに興味のある方、新しい体験がしたい方は、ぜひ一度公演をご覧ください。また、私たちの活動に少しでも関心をお持ちの方は、初心者の方も歓迎しておりますので、お気軽にお問い合わせいただくか、S棟までお越しください。
                </p>
            </div>
            <div class="col-12 col-md-6">
                <Image class="img-fluid" style="border-radius: 12px;" src={heroimg09} alt="2024年劇団万絵巻の集合写真"/>
            </div>
        </section>
    </main>
</Layout>

<style lang="scss">
  .custom-hero-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto 150px 150px 150px 150px;
    gap: .5rem;
  }

  .custom-hero_text {
    padding: 1.5rem 0;
    order: 2;
  }

  .custom-hero_img {
    border-radius: 12px;
    width: 100%;
    height: 375px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }

  .custom-img_1 {
    order: 1;
  }

  .custom-img_2 {
    order: 3;
  }

  .custom-img_3 {
    order: 4;
  }

  .custom-img_4 {
    order: 5;
  }

  .custom-img_5 {
    order: 6;
  }

  @media screen and (min-width: 768px) {
    .custom-hero-area {
      grid-template-columns: 150px auto 150px;
      grid-template-rows: auto auto;
    }
    .custom-hero_text {
      padding: 0;
    }
  }

  @media screen and (min-width: 992px) {
    .custom-hero-area {
      grid-template-columns: 200px auto 200px;
      grid-template-rows: auto auto;
    }
  }

  @media screen and (min-width: 1280px) {
    .custom-hero-area {
      grid-template-columns: 325px auto 325px;
      grid-template-rows: auto auto;
    }
  }
</style>
