---
import {Image} from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import heroimg03 from '../assets/index/heroimg03.avif';
import heroimg09 from '../assets/index/heroimg09.avif';
import heroimg23 from '../assets/index/heroimg23.avif';
import heroimg16 from '../assets/index/heroimg16.avif';
import heroimg26 from '../assets/index/heroimg26.avif';
import heroimg31 from '../assets/index/heroimg31.avif';
---

<Layout>
    <main>
        <section class="mt-5 container-xl custom-hero-area">
            <div class="custom-hero_text vstack justify-center align-items-center">
                <h1 class="h1 text-center mb-4">殺陣!ダンス!コメディ!<br/>なんでもありのエンタメ劇団！</h1>
                {/*
                <h2 class="h5 mb-2">公演予定</h2>
                <p class="text-center">関西大学劇団万絵巻2025年度新人発表公演<br/><a class="link" href="/performances/2026/clock/">cLock “I”</a></p>
                */}
            </div>
            <Image class="custom-hero_img custom-img_1" src={heroimg23} alt=""/>
            <Image class="custom-hero_img custom-img_2" src={heroimg31} alt=""/>
            <Image class="custom-hero_img custom-img_3" src={heroimg16} alt=""/>
            <Image class="custom-hero_img custom-img_4" src={heroimg03} alt=""/>
            <Image class="custom-hero_img custom-img_5" src={heroimg26} alt=""/>
        </section>
        <section class="container-lg grid g-4 mt-7">
            <div class="col-12 col-md-6">
                <h2 class="h2 text-center">私たちについて</h2>
                <p class="mt-3">
                    劇団万絵巻は1994年以来、質の高い演劇公演を行う学生劇団として知られ、数多くの公演を行ってきました。私たちの使命は、物語に力強い命を吹き込み観客の記憶に残る体験を想像することです。
                </p>
                <p class="mt-3">
                    私たちは芸術的な卓越性、地域社会との関わりを大切にする学生劇団です。情熱あふれる若い才能が集い、伝統と革新を融合させた作品を通じて観客の皆様に感動をお届けします。
                </p>
            </div>
            <div class="col-12 col-md-6">
                <Image class="img-fluid" style="border-radius: 12px;" src={heroimg09} alt="2024年劇団万絵巻の集合写真"/>
            </div>
        </section>
    </main>
</Layout>

<style lang="scss">
  .custom-hero-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto 150px 150px 150px 150px;
    gap: .5rem;
  }

  .custom-hero_text {
    padding: 1.5rem 0;
    order: 2;
  }

  .custom-hero_img {
    border-radius: 12px;
    width: 100%;
    height: 375px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }

  .custom-img_1 {
    order: 1;
  }

  .custom-img_2 {
    order: 3;
  }

  .custom-img_3 {
    order: 4;
  }

  .custom-img_4 {
    order: 5;
  }

  .custom-img_5 {
    order: 6;
  }

  @media screen and (min-width: 768px) {
    .custom-hero-area {
      grid-template-columns: 150px auto 150px;
      grid-template-rows: auto auto;
    }
    .custom-hero_text {
      padding: 0;
    }
  }

  @media screen and (min-width: 992px) {
    .custom-hero-area {
      grid-template-columns: 200px auto 200px;
      grid-template-rows: auto auto;
    }
  }

  @media screen and (min-width: 1280px) {
    .custom-hero-area {
      grid-template-columns: 325px auto 325px;
      grid-template-rows: auto auto;
    }
  }
</style>
