---
import {getCollection, render} from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
    const diaryEntries = await getCollection('diary');

    return diaryEntries.map(entry => {
        const dateStr = entry.data.date.toISOString().split('T')[0];
        return {
            params: {date: dateStr},
            props: {entry},
        };
    });
}

const {entry} = Astro.props;

const formatDate = (date: Date) => {
    return date.toLocaleDateString('ja-JP', {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
    });
};

const {Content} = await render(entry);

const diaryData = {
    title: entry.data.title,
    date: entry.data.date.toISOString(),
};

const breadcrumbs = [
    { name: '劇団員日記', item: '/diary/' },
    { name: `${entry.data.date.getFullYear()}年`, item: `/diary/${entry.data.date.getFullYear()}/` },
    { name: entry.data.title, item: Astro.url.pathname }
];
---

<Layout
    title={entry.data.title + " - 劇団員日記"}
    description={`${formatDate(entry.data.date)}の劇団員日記「${entry.data.title}」です。`}
    type="article"
    schemaType="BlogPosting"
    schemaData={diaryData}
    breadcrumbs={breadcrumbs}
>
    <main class="mt-5">
        <article class="">
            <header class="container-md">
                <ol class="breadcrumb mb-2">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" href="/">ホーム</a></li>
                    <li class="breadcrumb-item"><a class="breadcrumb-link" href="/diary/">劇団員日記</a></li>
                    <li class="breadcrumb-item">
                        <a class="breadcrumb-link"
                           href={`/diary/${entry.data.date.getFullYear()}/#` + entry.data.date.toISOString().split('T')[0]}>
                            {entry.data.date.getFullYear()}年
                        </a>
                    </li>
                    <li class="breadcrumb-item">{entry.data.title}</li>
                </ol>
                <h1 class="h1 mb-2">{entry.data.title}</h1>
                <div class="hstack g-3">
                    {entry.data.event_name && (
                            <p class="order-2"><i class="ail-documents"></i> {entry.data.event_name}</p>
                    )}
                    <time class="order-1" datetime={entry.data.date.toISOString()}>{formatDate(entry.data.date)}</time>
                </div>
            </header>
            <div class="mt-4 content container-sm">
                <Content/>
                <hr class="mt-3 divider w-25">
            </div>
            <footer class="mt-5 container-md">
                <a href="/diary/" class="">一覧に戻る</a>
            </footer>
        </article>
    </main>
</Layout>
