---
import {getCollection, getEntry, render, type CollectionEntry} from 'astro:content';
import NoIndexLayout from '../../../../layouts/NoIndexLayout.astro';

//teamとdateのフォルダのパスを取得
export async function getStaticPaths() {
    //日記データの取得
    const diaryEntries = await getCollection('summer_diary');
    
    //日記のurlを作成
    return diaryEntries.map((entry: CollectionEntry<'summer_diary'>) => {

        //日付をyyyy-mm-dd形式に変換
        const dateStr = entry.data.date.toISOString().split('T')[0];

        //フォルダのパスを/で分割
        const parts = entry.id.split('/');
        //はじめの年とチーム名を合体して親チームのパスを作る（年/チーム名）
        const teamPath = `${parts[0]}/${parts[1]}`;

        //urlとデータを渡す
        return {
            params:{
                team: teamPath,
                date: dateStr
            },
            props: { entry, teamPath },
        };
    });
}

interface Props {
    entry: CollectionEntry<'summer_diary'>;
    teamPath: string;
}

//getStaticPathsから受け取る
const {entry, teamPath} = Astro.props;

//親チームデータを取得
const teamData = await getEntry('summer_teams', teamPath);
//チームの名前を入れる
const teamName = teamData ? teamData.data.teamName : 'チーム';

const formatDate = (date: Date) => {
    return date.toLocaleDateString('ja-JP', {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
    });
};

//マークダウンの本文を、htmlで表示できるよう変換
const {Content} = await render(entry);

// const diaryData = {
//     title: entry.data.title,
//     date: entry.data.date.toISOString(),
// };

//変数を埋め込むときはバッククオート
const breadcrumbs = [
    { name: '夏チーム', item: '/summe/' },
    { name: teamName, item: `/summer/${teamPath}/` },
    { name: entry.data.title, item: Astro.url.pathname }
];
---

<NoIndexLayout
    title={entry.data.title + " - 劇団員日記"}
    description={`${formatDate(entry.data.date)}の劇団員日記「${entry.data.title}」です。`}
    type="article"
    breadcrumbs={breadcrumbs}
>
    <main class="mt-5">
        <article class="">
            <header class="container-md">
                <ol class="breadcrumb mb-2">
                    <!-- <li class="breadcrumb-item"><a class="breadcrumb-link" href="/">ホーム</a></li> -->
                    <li class="breadcrumb-item"><a class="breadcrumb-link" href="/summer/">夏チーム</a></li>
                    <li class="breadcrumb-item">
                        <a class="breadcrumb-link"
                            href={`/summer/${teamPath}/`}>
                            {entry.data.teamName}
                        </a>
                    </li>
                    <li class="breadcrumb-item">{entry.data.title}</li>
                </ol>
                <h1 class="h1 mb-2">{entry.data.title}</h1>
                <div class="hstack g-3">
                    {entry.data.teamName && (
                            <p class="order-2"><i class="ail-documents"></i> {entry.data.teamName}</p>
                    )}
                    <time class="order-1" datetime={entry.data.date.toISOString()}>{formatDate(entry.data.date)}</time>
                </div>
            </header>
            <div class="mt-4 content container-sm">
                <Content/>
                <hr class="mt-3 divider w-25">
            </div>
            <footer class="mt-5 container-md">
                <a href={`/summer/${teamPath}/`} class="">一覧ページに戻る</a>
            </footer>
        </article>
    </main>
</NoIndexLayout>
