---
import SEO from "../components/head/SEO.astro";
import SchemaOrg from "../components/head/SchemaOrg.astro";
import Favicon from "../components/head/Favicon.astro";

const { title, description, image, type, schemaType = 'TheaterGroup', schemaData = {}, breadcrumbs = [] } = Astro.props;
---

<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="generator" content={Astro.generator}/>
    <SEO {title} {description} {image} {type} />
    <SchemaOrg type={schemaType} data={schemaData} {breadcrumbs} />
    {/* Favicon */}
    <Favicon/>
    <!-- SiteMap -->
    <link rel="sitemap" href="/sitemap-index.xml" />
</head>
<body>
<slot/>
</body>
</html>
