---
import 'asagaoui/dist/css/asagaoui.css'
import 'asagaoui/dist/css/asagaoui-icons.min.css'
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Favicon from '../components/head/Favicon.astro';
import SEO from '../components/head/SEO.astro';
import SchemaOrg from '../components/head/SchemaOrg.astro';

interface Props {
    title?: string;
    description?: string;
    image?: string;
    type?: 'website' | 'article';
    schemaType?: 'TheaterGroup' | 'Event' | 'BlogPosting' | 'ItemList';
    schemaData?: any;
    breadcrumbs?: Array<{ name: string; item: string }>;
}

const { title, description, image, type, schemaType = 'TheaterGroup', schemaData = {}, breadcrumbs = [] } = Astro.props;
---
<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="generator" content={Astro.generator}/>
    <SEO {title} {description} {image} {type} />
    <SchemaOrg type={schemaType} data={schemaData} {breadcrumbs} />
    {/* Favicon */}
    <Favicon/>
    <!-- SiteMap -->
    <link rel="sitemap" href="/sitemap-index.xml" />
</head>
<body class="aui">
<Header/>
<slot/>
<Footer/>
<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "9dc90fbb1b4947a1aa7d6e2bf2cedd9a"}'></script>
<!-- End Cloudflare Web Analytics -->
</body>
</html>

<style is:global lang="scss">
  .content {
    img {
      width: 100%;
      height: auto;
    }
  }
</style>
